
/* Add margin-top to the experience-section */
.experience-section {
    margin-top: 50px; /* Adjust the value as needed */
	color: white;
}


/* Equal Container Layout - Left and Right Sections */
.container-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.left-side, .right-side {
    width: 48%; /* Both will take equal width */
}

.left-side {
    display: flex;
    justify-content: center;
	margin-top: 30px;
}

.grid-container {
    width: 100%;
    max-width: 500px;
}

/* Padding and spacing between rows */
.grid-item {
    margin-bottom: 20px;
}

/* Grid Item Styling */
.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.right-side img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container-section {
        flex-direction: column;
    }

    .left-side, .right-side {
        width: 100%; /* Stack sections vertically on mobile */
    }
}